/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


/* style */
@import "reset.css";

body {
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: gray;
}

/* top-row */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding : 0 20px;
    height: 60px;
}

.top-row-left {
    display: flex;
    color: rgb(216, 211, 211);
}

.top-row-left_link {
    margin-right : 18px;
    font-size: 17px;
}

.top-row-right {
    display: flex;
}

/* center */
.region .center {
    
}

.center-above {
    height: 180px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 220px;
}

.center .js-clock, .center .greetings {
    display: flex;
    justify-content: center;
}

.center .js-clock {
    font-size: 160px;
    font-weight: 500;
}

.center .greetings {
    font-size: 50px;
    font-weight: 500;
}

.js-form-greetings {
    display: none;
}
.js-form-greetings input {
    width: 582px;
    height: 55px;
    background-color: transparent;
    border :none;
    border-bottom: 3px solid white;
    padding: 15px 1px 2px 2px;
}

.js-form-greetings input:focus {
    font-size: 50px;
    color: white;
    text-align: center;
}

.center-below {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 188.2px;
}

/* bottom */
.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding : 0 20px;
    height: 60px;
}

.bottom-row-left {
    display: flex;
    width: 20%;
    color: rgb(216, 211, 211);
}

.bottom-row-center {
    width: 60%;
}

.bottom-row-right {
    width: 20%;
    color: rgb(216, 211, 211);
}









.background-img {
    z-index: -3;
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showing {
    display: block;
}

.hiding {
    display: none;
}